<div class="container" style="margin:10px">
    <h2>Edit Order</h2>
    <div>
        <form >
            <div class="form-group">
                <label for="Plist">Product</label>
                <select id="Plist" [(ngModel)]="Order.productId" [ngModelOptions]="{standalone: true}" class="form-control custom-select" >
                    <option value="null" selected disabled>--select--</option>
                    <option *ngFor="let p of Products" value={{p.id}}>{{p.name}}</option>
                </select>
                <p id="ePlist" style="color:red"></p>
            </div>
            <div class="form-group">
                <label for="Clist">Customer</label>
                <select id="Clist" [(ngModel)]="Order.customerId" [ngModelOptions]="{standalone: true}" class="form-control custom-select" >
                    <option value="null" selected disabled>--select--</option>
                    <option *ngFor="let c of Customers" value={{c.id}}>{{c.name}}</option>
                </select>
                <p id="eClist" style="color:red"></p>
            </div>
            <div class="form-group">
                <label for="Quantity">Quantity</label>
                <input type="number" id="Quantity" [(ngModel)]="Order.quantity" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                <p id="eQuantity" style="color:red"></p>
            </div>
            <div class="form-group">
                <label for="OD">Ordered Date</label>
                <input type="date" id="OD" [(ngModel)]="Order.placedDate" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                <p id="eOD" style="color:red"></p>
            </div>
            <div class="form-group">
                <label for="SD">Shipped Date</label>
                <input type="date" id="SD" [(ngModel)]="Order.shippedDate" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                <p id="eSD" style="color:red"></p>
            </div>
            
            <button id="submit" (click)="Add()" class="btn btn-primary">Edit</button>&nbsp;
            <a [routerLink]="['/order']" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>